
  <!-- Header -->
  <header style="margin-bottom: 2%">
      <app-filter-bar></app-filter-bar>
  </header>

<app-widgets></app-widgets>
<!-- <div id="header" class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-col s4  ">
      <div class="w3-container w3-round w3-card-2 w3-center w3-margin w3-padding-16 w3-white">
        <h2>تعداد سایت های خبری</h2>
        <span class="w3-badge w3-margin-left num w3-card" ><h1 style="font-size:36px">{{rss_num}}</h1></span>
      </div>
    </div>
    <div class="w3-col s4">
      <div class="w3-container w3-round w3-card-2 w3-center w3-margin w3-padding-16 w3-white">
        <h2>تعداد خبرهای دریافت شده</h2>
        <span class="w3-badge w3-margin-left num"><h1 style="font-size:36px">{{news_num}}</h1></span>
      </div>
    </div>
    <div class="w3-col s4">
      <div class="w3-container w3-round w3-card-2 w3-margin w3-padding-16 w3-white" style="height: 150px;">
        <app-date-picker style="width: 100%;"></app-date-picker>
      </div>
    </div>
  </div>
</div> -->



<div class="w3-row-padding w3-section">
  <!-- <div class="w3-col s3 card1">
    <div id="top-country" class="w3-container w3-card w3-round chart" style="height:620px;">
        <div class="w3-container w3-round chart-title">
            <h2>کشورهای پرتهدید
                <span class=" w3-padding w3-left"><i id="ch" class="fa fa-globe"></i></span>
            </h2>
        </div>
        <ul class="w3-ul">
            <li class="w3-border-0 w3-right country-item" onclick="open_map_detail()" *ngFor="let item of top_country;let i=index" >{{item.title}}<i> . {{i+1}}</i></li>
        </ul>
         
        </ul> 
    </div>
  </div> 




  <div class="w3-col s9 card2">
    <div class="w3-card w3-round chart" style="height:620px;margin:10px;">
    <div class="w3-container w3-round chart-title">
      <div  class="w3-panel w3-border-blue w3-rightbar ">
            <h2>پراکندگی جغرافیایی</h2>
      </div>
    </div>
        <app-map></app-map>
    </div>
  </div> -->
  <app-map2></app-map2>
</div>

<div class="w3-row-padding w3-section">
  <div class="w3-col s3 card1">
    <div class="w3-container w3-card w3-round chart" style="height:500px;">
        <div class="w3-panel chart-title w3-border-purple w3-rightbar">
            <h2>احساسات
                <span class=" w3-padding w3-left"><i id="ch" class="fa fa-globe"></i></span>
            </h2>
        </div>
        <app-semi-circle dir="ltr"></app-semi-circle>
    </div>
  </div>
  <div class="w3-col s9 card2">
    <div class="w3-card w3-round" style="background:#fff;height:500px; margin:10px;">
    <div class="w3-container chart-title w3-round">
        <div  class="w3-panel w3-border-purple w3-rightbar ">
            <h2>لغات پرتکرار
              </h2>
      </div>
        </div>
        <app-word-cloud dir="ltr"></app-word-cloud>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-section">
  <div class="w3-col s3 card1">
    <div class="w3-container w3-card w3-round chart" style="height:630px; ">
        <div class="w3-panel chart-title w3-border-purple w3-rightbar">
            <h2>برترین تهدیدها
                <span class=" w3-padding w3-left"><i id="ch" class="fa fa-globe"></i></span>
            </h2>
        </div>
        <app-cylinder></app-cylinder>
    </div>
  </div>
  <div class="w3-col s9 card2">
    <div class="w3-card w3-round" style="background:#fff;height:630px; margin:10px; padding:10px;">
    <div class="w3-container chart-title w3-round">
        <div  class="w3-panel w3-border-purple w3-rightbar ">
            <h2>پراکندگی تهدید
              </h2>
      </div>      
      
      
        </div>
        <app-pure></app-pure>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-section">
  <!-- <div class="w3-col s3 card1">
    <div class="w3-row">
        <div class="w3-container w3-card-4 w3-round chart" style="height:400px;">
            <div class="w3-container chart-title w3-round">
                <h2>برترین تهدیدها
                    <span class=" w3-padding w3-left"><i id="ch" class="fa fa-globe"></i></span>
                </h2>
            </div>
            <app-cylinder dir="ltr"></app-cylinder>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-container w3-card-4 w3-round chart" style="height:400px;">
            <div class="w3-container w3-purple w3-round">
                <h2>برترین تهدیدها
                    <span class=" w3-padding w3-left"><i id="ch" class="fa fa-globe"></i></span>
                </h2>
            </div>
            <app-cylinder dir="ltr"></app-cylinder>
        </div>
    </div>
  </div> -->
  <div class="w3-col">
    <div class="w3-card w3-round" style="background:#fff;height:820px; margin:10px;">
    <div class="w3-container chart-title w3-round">
            
        <div  class="w3-panel w3-border-purple w3-rightbar ">
            <h2>پراکندگی پلتفرم
              </h2>
      </div>    
    
        </div>
        <app-column-chart dir="ltr"></app-column-chart>
    </div>
  </div>
</div>

<!-- <footer style="height:600px;    background-repeat: no-repeat;background-color: #6d0577;
background-image: url('../../../assets/imgs/wave-foot.png');">


</footer> -->

<footer dir="ltr" class="flex-rw">
  
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">درباره سامانه</h4></li>
    <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
    <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
    <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A RETAILER</a></li>

    <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">JOB OPENINGS</a></li>

    <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">خدمات</h4></li>


    <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
    <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
    <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
    <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
    <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Please Help Me</h4></li>
    <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
    <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
    <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
    <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
    <li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
  </ul>
  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fab fa-pinterest"></i></a>
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fab fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fab fa-youtube"></i></a>
      <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fab fa-google-plus"></i></a>
      </span>
      <span class="footer-social-overlap footer-social-connect">
        ما<span class="footer-social-small">با</span> ارتباط
       </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   
<i class="fa fa-copyright" role="copyright">
 
</i> 2019 Pavilion in <address class="footer-address" role="company address">Bergen, NY</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
    <!-- <div class="footer-bottom-wrapper">
    <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
      </div> -->
  </section>
</footer>