@font-face { font-family: mitra; 
  src: url('../../../../assets/Far_Mitra.ttf'); font-weight: 400;
} 

* {
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5,p{
    font-family: mitra!important;
  }

  .chart-title{
    background: #6d0577;
    color:#fff;
  }

/* Header/Blog Title */
.header{
  border-radius: 5px;
  margin: 2% 20%;
  padding: 0 20px;
  width: 80%;
}
.header-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 5px 0;
    height: 100%;
    width: 100%;
    h3{
      font-size: 28px;
    }
 }

#header-cont{
    padding: 10px;
    height: 80px;
    text-align: center;
    h3{
      text-align: center;
    }
  }

.num{
  height: 90px;
  width: 90px;
  color: #fff;
  line-height: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #6d0577;
  margin-bottom: -45px
}


  #menu{
    text-align: right;
    padding: 5px 10px;
  }
  .res-item{
    padding: 10px;
    margin:0 5px;
    width: 125px;
    cursor: pointer;
    display: inline-block;
  }
  .res-item:hover{
    color: #696cf6
  }

  .res-item i{
    margin-left:10px;
    margin-top: 10px;
  }


  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: right;
    width: 25%;
    padding-left: 10px;
  }
  
  /* Right column */
  .rightcolumn {
    float: right;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    // margin-top: -50px;
  }
  

  /* Add a card effect for articles */
  .card {
     background-color: rgb(255, 255, 255);
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 30px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     p{
       font-size: 20px;
     }
  }
#ch{
  margin-right: 60%;
}
  #chart-content{
    margin: 0 20px;
  }
  
/* Create three equal columns that floats next to each other */
.header .column{
  float: right;
  width: 25%;
  padding: 10px;
}
.column1 {
  // float: right;
  // width: 30%;
  // padding: 10px;
  height: 150px; /* Should be removed. Only for demonstration */
}
.column2 {
  height: 150px;
  // max-height: 260px; /* Should be removed. Only for demonstration */
}
.column3 {
  height: 150px; /* Should be removed. Only for demonstration */
}
.column4 {
  height: 150px; /* Should be removed. Only for demonstration */
}


/* Add a card effect for articles */
// .card1{
//   // background: linear-gradient(60deg,#ffa726,#fb8c00);
//   // color: #fff;
//   height: 110px;     
// }
// .card2{
//   background: linear-gradient(60deg,#66bb6a,#43a047);
//   color: #fff;
// }

// .card4{
//   background: linear-gradient(60deg,#26c6da,#00acc1);
//   color: #fff;
// }
// .card5 {
//   background: linear-gradient(0deg,#d9db54,#d5d80a);
//   color: #fff;
// }







  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .chart{
    background:#fff;
    margin-top:10px;
    margin-bottom:10px;
  }

.country-item{
  width:30%;
  font-size: 20px;
  cursor: pointer;
  
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1190px) {
    .card1 {   
      width:28.99999%;
    }
    .card2{
      width:70.99999%;
    }
  }
  @media screen and (max-width: 1020px) {
    .card1 {   
      width:100%;
    }
    .card2{
      width:100%;
    }

    #top-country{
      height: auto!important;
    }
    .country-item{
      width:auto;
      font-size: 20px;
    }
  }

  @media screen and (max-width:680px) {
    #header .w3-col.s4 {
        width: 50%!important;
    }
  }
    @media screen and (max-width:600px) {
      #header{
        margin-top:10%;
      }
      #header .w3-col.s4 {
          width: 50%!important;
      }
}
@media screen and (max-width:525px) {
  #header .w3-col.s4 {
      width: 100%!important;
  }

}