@font-face { font-family: mitra; 
  src: url('../../../../assets/Far_Mitra.ttf'); font-weight: 400;
} 

* {
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5,p{
    font-family: mitra!important;
  }

  .chart-title{
    background: #fff;
    color:#000;
  }

/* Header/Blog Title */
.header{
  border-radius: 5px;
  margin: 2% 20% 5% 20%;
  padding: 0 20px;
  width: 80%;
}
.header-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 5px 0;
    height: 100%;
    width: 100%;
    h3{
      font-size: 28px;
    }
 }

#header-cont{
    padding: 10px;
    height: 80px;
    text-align: center;
    h3{
      text-align: center;
    }
  }

.num{
  height: 90px;
  width: 90px;
  color: #fff;
  line-height: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #6d0577;
  margin-bottom: -45px
}


  #menu{
    text-align: right;
    padding: 5px 10px;
  }
  .res-item{
    padding: 10px;
    margin:0 5px;
    width: 125px;
    cursor: pointer;
    display: inline-block;
  }
  .res-item:hover{
    color: #696cf6
  }

  .res-item i{
    margin-left:10px;
    margin-top: 10px;
  }



  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .chart{
    background:#fff;
    margin-top:10px;
    margin-bottom:10px;
  }

.country-item{
  width:50%;
  font-size: 20px;
  cursor: pointer;
  
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1190px) {
    .card1 {   
      width:28.99999%;
    }
    .card2{
      width:70.99999%;
    }
  }
  @media screen and (max-width: 1020px) {
    .card1 {   
      width:100%;
    }
    .card2{
      width:100%;
    }

    #top-country{
      height: auto!important;
    }
    .country-item{
      width:auto;
      font-size: 20px;
    }
  }

  @media screen and (max-width:680px) {
    #header .w3-col.s4 {
        width: 50%!important;
    }
  }
    @media screen and (max-width:600px) {
      #header{
        margin-top:10%;
      }
      #header .w3-col.s4 {
          width: 50%!important;
      }
}
@media screen and (max-width:525px) {
  #header .w3-col.s4 {
      width: 100%!important;
  }

}
footer {
  background-repeat: no-repeat;background-color: #6d0577;
  background-image: url('../../../../assets/imgs/wave-foot.png');
  margin-top: auto;
  width: 100%;
  height: 700px;
  padding-top: 200px;
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw mitra
}
.footer-list-anchor {
  font: 1.3em mitra
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #6d0577;
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em mitra;  
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
	color:  #69f6c0;
	&:visited {
		color:  #69f6c0;
	}
	&:hover {
		color: #69f6c0;
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}