
<div class="header">
  <div id="menu" dir="ltr">
    <span class="res-item">HTML<i class="fa fa-globe"></i></span>
    <span class="res-item">HTML<i class="fa fa-globe"></i></span>
    <span class="res-item">HTML<i class="fa fa-globe"></i></span>
    <span class="res-item">HTML<i class="fa fa-globe"></i></span>
  </div>
</div>

<div class="row">
  <div class="rightcolumn">

    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:500px;">
        <app-map dir="ltr"></app-map>
      </div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <div class="card">
      <div class="fakeimg" style="height:300px;">
        <app-res-column ></app-res-column>
      </div>
    </div>


    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:500px;">
        <app-word-cloud dir="ltr"></app-word-cloud>
      </div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>


    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:500px;">
        <app-pure dir="ltr"></app-pure>
      </div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>




  <div class="leftcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:500px;">
        <app-radial-line dir="ltr"></app-radial-line>
      </div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">
        <app-solid dir="ltr"></app-solid>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div><br>
      <div class="fakeimg">
        <app-semi-circle dir="ltr"></app-semi-circle>
      </div><br>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
      <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:600px;">
        <app-radar dir="ltr"></app-radar>
      </div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
