<div id="date-container" class="w3-container">
        <mat-form-field id="date-form" class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
              <button class="date-picker" mat-raised-button (click)="picker.open()"><i class="fa fa-calendar"></i>بازه زمانی</button>
              <button class="date-picker" mat-raised-button >انتخاب پروفایل</button>
        </div>