@font-face { font-family: mitra; 
    src: url('../../../assets/Far_Mitra.ttf'); font-weight: 400;
  } 
*{
    font-family: mitra;
    font-size: 18px;
}

#date-container .mat-form-field{
    width: 0;

}
#date-container ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    visibility: hidden!important;
    font-size: 28px;
}

#date-container .mat-input-0::placeholder{
    font-size: 24px!important;
}


#date ::ng-deep *,.mat-datepicker-toggle{
    font-family: mitra!important;
}

#date-container::ng-deep .cdk-overlay-pane{
    width: 21%!important;
}

#date-container::ng-deep .mat-datepicker-content .mat-calendar {
    width: 400px!important;
    height: 450px!important;
}

::ng-deep .mat-datepicker-content {

    width: 100%;

}

#date-container .mat-raised-button{
    width: 100%;
    background: #6d0577;
    color: #fff;
    border-radius: 32px;
    i{
        margin:5px 0 5px 15px;
        float: right;
    }
    
}

#date-container::ng-deep .mat-button-wrapper {
    font-family: mitra!important;
    font-size: 24px;
}
.modal-fields{
    margin-top: 25%!important;
}
.date-item{
    text-align: right;
}
::ng-deep .mat-radio-outer-circle {
    border-color: #a411df!important;
}
::ng-deep .mat-radio-inner-circle {
    background-color: #a411df!important;
}
.date-radio-button{
    display: block;
}

#add-filter{
    font-size: 18px;
    background: #6d0577;
    color: #fff;
}

@media screen and (max-width:1100px) {
    .date-picker::ng-deep .mat-button-wrapper {
        font-size: 18px!important;
    }
    i{
        margin: 10px 0 !important;
    }
}  
@media screen and (max-width:955px) {
    .date-picker::ng-deep .mat-button-wrapper {
        font-size: 24px!important;
    }
    #date-container .mat-raised-button{
        width: 90%;
        i{
            margin: 10px 0;
        }
    }    
}
@media screen and (max-width:770px) {
    .date-picker::ng-deep .mat-button-wrapper {
        font-size: 18px!important;
    }
}
@media screen and (max-width:680px) {
    .date-picker::ng-deep .mat-button-wrapper {
        font-size: 24px!important;
    }
}