<div id="date-container">
    <button class="w3-padding" mat-raised-button
    onclick="document.getElementById('date-range').style.display='block'">
    <i class="fa fa-calendar" style="font-size: 24px;
    margin-left: 16px;"></i>بازه زمانی</button>
</div>

<!-- <div id="date-range w3-hide">
        <div class="w3-modal-content">
                <header class="w3-container">
                    <span onclick="document.getElementById('date-range').style.display='none'"
                    class="w3-button w3-display-topleft">&times;</span>
                    <h2>انتخاب بازه زمانی</h2>
                </header>
                <div class="w3-container">
                       
                        <div class="w3-row">
                                <div class="w3-col s4 w3-center">
                                        <mat-form-field>
                                                <input matInput [matDatepicker]="dp1" placeholder="Different locale">
                                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                                <mat-datepicker #dp1></mat-datepicker>
                                        </mat-form-field>
                                </div>
                                <div class="w3-col s4 w3-center">
                                        <mat-form-field>
                                                <input matInput [matDatepicker]="dp2" placeholder="Different locale">
                                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                                <mat-datepicker #dp2></mat-datepicker>
                                        </mat-form-field>
                                </div>
                                <div class="w3-col s4 w3-center">
                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                                class="example-radio-group">
                                                <mat-radio-button class="date-radio-button w3-margin" >
                                                                امروز
                                                </mat-radio-button>

                                                <mat-radio-button class="date-radio-button w3-margin" >
                                                                یک هفته قبل
                                                </mat-radio-button>
                                                <mat-radio-button class="date-radio-button w3-margin" >
                                                                یک ماه قبل
                                                </mat-radio-button>        
                                                              
                                        </mat-radio-group>
                                </div>
                        </div>                                
                </div>
                <button mat-raised-button class="w3-container"  style="margin: 20px;"color="primary">Prfsdfaimary</button>
        </div>
</div>
                -->


<div id="date-range" class="w3-modal">
        <div class="w3-modal-content w3-round">
                <div class="w3-container">
                        <span onclick="document.getElementById('new-desc').style.display='none'" class="w3-button w3-display-topleft">&times;</span>
                        <header class="w3-container">
                                <span onclick="document.getElementById('date-range').style.display='none'"
                                        class="w3-button w3-display-topleft">&times;</span>
                                <h1 style="font-size: 32px;">انتخاب بازه زمانی</h1>
                        </header>
                <div class="w3-container">

                <div class="w3-row">
                        <div class="w3-col s4 w3-center">
                                <mat-form-field class="modal-fields" style="padding-top:46px">
                                        <input matInput [matDatepicker]="dp1" placeholder="از تاریخ"  [disabled]="disabled">
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                </mat-form-field>
                        </div>
                        <div class="w3-col s4 w3-center">
                                <section class="date-checkbox-section">
                                        <mat-checkbox class="w3-right w3-margin-right w3-padding" (change)="disabled=!disabled">تاریخ دلخواه</mat-checkbox>
                                </section>
                                <mat-form-field class="modal-fields" >
                                        <input matInput [matDatepicker]="dp2" placeholder="تا تاریخ"  [disabled]="disabled">
                                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                        <mat-datepicker #dp2></mat-datepicker>
                                </mat-form-field>
                        </div>
                        <div class="w3-col s4 w3-center">
                                <mat-radio-group aria-labelledby="example-radio-group-label" [disabled]="!disabled"
                                        class="example-radio-group">
                                        <mat-radio-button value="1" class="example-radio-group date-radio-button w3-margin" color="primary">
                                                امروز
                                        </mat-radio-button>
                                        <mat-radio-button value="2" class="example-radio-group date-radio-button w3-margin" >
                                                یک هفته قبل
                                        </mat-radio-button>
                                        <mat-radio-button value="3" class="example-radio-group date-radio-button w3-margin" >
                                                یک ماه قبل
                                        </mat-radio-button>        
                                </mat-radio-group>
                        </div>
                </div>                                
        </div>
        <button mat-raised-button type="submit" id="add-filter" class="w3-container"  style="margin:24px 32px; border-radius: 32px;" onclick="document.getElementById('date-range').style.display='none'">
                اعمال فیلتر
        </button>
        <div *ngIf="isSubmitted">
                <p>Please select either value</p>
        </div>
</div>

            
            