table {
    width: 100%;
  }
  .column1 {
    float: right ;
    width: 70%;
  }
  .column2 {
    float: right ;
    width: 30%;
    margin-top: -30px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 10px 20px;
  }
  .row{
    margin: 0 20px;
    background: #fff;
    border-radius: 5px;
  }
  .mat-form-field {
    font-size: 16px;
    width: 50%;
    padding: 10px 20px;
  }
  .mat-raised-button{
    margin: 0 10px;
    font-size: 18px;
    width: 20%;
    padding: 12px;
  }
  .mat-elevation-z8{
    margin-top: 50px;
    background: #fff;
  }
  
  td, th {
    width:46px;
    font-size: 16px;
  }
  ::ng-deep .cdk-column-select {
    text-align: center;
  }

  ::ng-deep .mat-paginator-page-size-label{
    visibility: hidden;
    display: none;
  }
  ::ng-deep .mat-paginator-range-actions::before{
    margin-left: 5px;
    content: "تعداد سطر";
    font-size: 16px;
  }
  .table-actions{
    margin:0 5px;
  }