    	  
    <div id="login" class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('../../../assets/imgs/wave-top.png')">
        </div>
      </div>
      
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('../../../assets/imgs/wave-mid.png')"></div>
      </div>
      
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('../../../assets/imgs/wave-bot.png')"></div>
      </div>
    </div>
    
    <div class="limiter">
    <div class="container-login100">
          <div class="w3-container w3-cell-row">
              <div class="w3-container w3-cell w3-center w3-display-container">
                <img id ="apa" class="w3-img w3-display-middle" src="../../../../assets/apa-logo.png"/>
              </div>
              <div class="w3-container w3-display-container w3-cell w3-center" style="width:50%">
                <h1 id="title" class="w3-display-middle w3-text-white">سامانه هوشمند جمع آوری<br> و تحلیل اخبار امنیتی</h1>
              </div>
              <div class="w3-container w3-cell w3-cell-middle w3-center w3-display-container">
                <img id="maher" class="w3-img w3-display-middle " src="../../../../assets/maher_logo1.png"/>
              </div>
          </div>
    
      <div class="wrap-login100">
      <!-- <div class="login100-pic js-tilt" data-tilt>
        <img src="images/img-01.png" alt="IMG">
      </div> -->
    
      <form class="login100-form validate-form">
        <span class="login100-form-title">
        ورود
        </span>
    
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="ايميل">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        </div>
    
        <div class="wrap-input100 validate-input" data-validate = "Password is required">
        <input class="input100" type="password" name="pass" placeholder="رمز عبور">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
        </div>
        
        <div class="container-login100-form-btn">
        <button class="login100-form-btn" (click)="login(email, password)" type="submit">
          ورود
        </button>
        </div>
    
        <div class="text-center p-t-12">
        <span class="txt1">
                  فراموشی
        </span>
        <a class="txt2" href="#">
                  نام کاربری/ رمز عبور ؟
        </a>
        </div>
    
        <!-- <div class="text-center p-t-136">
        <a class="txt2" href="#">
          Create your Account
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
        </div> -->
      </form>
      </div>
    </div>
    </div>
    
    
        
    
    