@font-face { font-family: mitra; 
  src: url('../../../../assets/Far_Mitra.ttf'); font-weight: 400;
} 

*{
font-family: mitra!important;
}

.login-title{
  position: absolute;
  z-index: 200;
  color: black;
  width: 100%;
  height: 190px;
  text-align: center;
  background: #27273c;
}

.full-page{
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 200;
}
  
.login-card {
  margin: auto;
  width: 400px;
  height: 400px;
}
  
  .login-field {
    width: 100%;
  }
  .mat-card-content{
    margin-top: 70px;
    padding: 0 40px;
  }

.mat-card-title{
  margin-top: 20px!important;
  text-align: center;
  font-size: 36px;
}
.mat-card-actions{
  padding: 0 40px;
  
}
::ng-deep .mat-input-element{
  font-family: mitra!important;
  font-size: 20px!important
}
::ng-deep .mat-input-element::placeholder{
  font-size: 16px!important;
  font-family: mitra!important;
}
::ng-deep .mat-button-wrapper,.mat-raised-button ,.mat-button-base{
  font-size: 20px!important;
  padding: 5px 0!important;
  background: #6d0577;
  font-size: 24px!important;
  font-family: mitra!important;
}
a{
  padding: 0 40px!important;
  font-size: 18px!important;
}
a:link {
  color: rgb(3, 3, 3);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(95, 93, 93);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(58, 67, 110);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(59, 42, 155);
  background-color: transparent;
  text-decoration: underline;
}

  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  background: linear-gradient(180deg,#27273c,#27273c);
  width: 20.43%;
  padding: 10px;
  height: 170px; /* Should be removed. Only for demonstration */
}
.title-column {
  background: #27273c;
  color: #fff;
  float: left;
  width: 56%;
  padding: 10px;
  height: 170px; /* Should be removed. Only for demonstration */
  
  h2{
    font-size: 38px;
  }
  p{
    font-size: 20px;
  }
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#apa{
  width: 130px;
  height: 85%;
}

#maher{
  width: 250px;
  height: 75%;
}

/* Use a media query to add a breakpoint at 765px: */
@media screen and (max-width: 770px) {
  .column{
    width: 33.33%;
  }
  .title-column{
    width: 25%;
    h2{
      font-size: 30px;
    }
  }

  }

/* Use a media query to add a breakpoint at 375px: */
@media screen and (max-width: 375px) {
.login-card {
    margin: auto;
    width: 250px;
    height: 360px;
}

.column{
  width:0%;
}


.title-column{
  position: absolute;
  background: none;
  top: 47%;
  font-size: 16px;
  width: 100%;
  height: 100%;
  h2{
    font-size: 20px;
  }
}

#apa{
  width: 30%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
  
#maher{
  width: 45%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.full-page{
  top: 8%;
}

.mat-card-content {
  margin-top: 20px;
  padding: 0 40px;
}
}

