
<div id="widget-container" class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div id="w4" class="w3-container w3-card w3-padding-16 w3-round">
        <div class="w3-left"><h1 class="w3-text">52</h1>
            </div>
        <div class="w3-right">
            <i class="fa fa-comment w3-xxxlarge w3-margin-top"></i>
        </div>
        <div class="w3-clear"></div>
        <h2 class="w3-text">اخبار امروز</h2>
        </div>
    </div>
    <div class="w3-quarter">
        <div id="w3" class="w3-container w3-card w3-padding-16 w3-round">
        <div class="w3-left"> <h1>99</h1>
            </div>
        <div class="w3-right">
           <i class="fa fa-eye w3-xxxlarge w3-margin-top"></i>
        </div>
        <div class="w3-clear"></div>
        <h2>بازديد
        </h2>
        </div>
    </div>
    <div class="w3-quarter">
        <div id="w2" class="w3-container w3-card w3-padding-16 w3-round">
        <div class="w3-left"><h1 class="w3-text">{{rss_num}}</h1>
            </div>
        <div class="w3-right">
            <i class="fa fa-laptop w3-xxxlarge w3-margin-top"></i>
        </div>
        <div class="w3-clear"></div>
        <h2 class="w3-text">سایت های خبری</h2>
        </div>
    </div>

<div class="w3-quarter">
    <div id="w1" class="w3-container w3-card w3-padding-16 w3-round">
        <div class="w3-left"><h1 class="w3-text">{{news_num}}</h1>
            </div>
        <div class="w3-right">
                <i class="fa fa-newspaper w3-xxxlarge w3-margin-top"></i>
        </div>
        <div class="w3-clear"></div>
        <h2 class="w3-text">خبر</h2>
    </div>
</div>
</div>
