*{
    font-family: mitra;
    font-size: 24px;
}
#filter-profile-container .mat-raised-button{
    width: 100%;
    // padding: 18px 30px;
    background: #6d0577;
    color: #fff;
    font-size: 24px;
    border-radius: 32px;
    i{
        margin:5px 0 5px 15px;
        float: right;
    }
    
}