/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@font-face {
    font-family: "myFirstFont";
    src: url("/src/assets/Far_Yekan/Far_Yekan.ttf");
  }
  
  *{
      font-family: "myFirstFont"
  }
body {
    margin: 0 !important;
}