<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldHigh.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<div class="w3-container">
    <!-- <div id="chartdiv1"></div> -->
    <div class="w3-container w3-display-container w3-white" style="height: 400px;">
        <span id="flag" class="w3-badge w3-xlarge w3-padding w3-red w3-display-topleft w3-card-2">
            <i id="ch" class="fa fa-flag"></i></span>
        <h2 class="w3-container">ایران</h2>
        <hr>

        <div class="w3-cell-row w3-white">

            <div class="w3-container w3-cell w3-white"  style="width:75%;">
                <header class="w3-container">
                    <h3>عناوین اخبار</h3>
                </header>
                
                <div class="w3-container">
                    <ul class="w3-ul" style="overflow: scroll; height: 245px;" >
                        <li class="w3-hover-gray">Jill</li>
                        <li class="w3-hover-gray">Eve</li>
                        <li class="w3-hover-gray">Adam</li>
                        <li class="w3-hover-gray">Jill</li>
                        <li class="w3-hover-gray">Eve</li>
                        <li class="w3-hover-gray">Adam</li>
                        <li class="w3-hover-gray">Jill</li>
                        <li class="w3-hover-gray">Eve</li>
                        <li class="w3-hover-gray">Adam</li>
                        <li class="w3-hover-gray">Jill</li>
                        <li class="w3-hover-gray">Eve</li>
                        <li class="w3-hover-gray">Adam</li>
                    </ul>
                </div>
                
                <!-- <header class="w3-container w3-blue">
                    <h3>Header</h3>
                </header>

                <div class="w3-container w3-green">
                <p>body</p>
                </div> -->
            </div>
          
            <div class="w3-container w3-cell w3-white w3-card" style="width:35%">
                <div class="w3-container w3-margin-top w3-padding ">
                    <p>تعداد خبرها<span class="w3-badge w3-deep-purple w3-left w3-xlarge w3-padding"
                        style="margin-top:-15px">60</span></p>
                </div>
            </div>
          
          </div>
    </div>
</div>