*{
  font-family: mitra;
}
#chartdiv1 {
    background: #fff;
    width: 100%;
    height: 510px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
  }

#chartdiv1::ng-deep tspan{
  font-family: mitra!important;
  font-size: 18px;
}

#flag{
  margin-top: 16px;
  margin-left: 50px;
}

.badge{
  background: #6d0577;
}

#news-list{
  overflow-y: scroll;
    height: 345px;
    width: 105%;
    padding-left: 50px;
    padding-right: 15px;
}

li{
  padding: 15px;
  font-size: 18px;
}
li a{
  font-size: 18px;
  cursor: pointer;
  svg{
    font-size: 18px;
  }
}
// #new-desc{
//   position: absolute;
// }

#map-new-desc .link{
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background: #6d0577;
  color: #fff;
  border-radius: 5px;
  padding-left: 40px;
}
#map-new-desc .link:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #9833a1;
  cursor: pointer;
}
#map-new-desc a{
  font-size: 18px;
}
#map-new-desc svg{
  font-size: 18px;
}