<mat-card-content>
  <form class="my-form">
     <mat-form-field class="full-width">
            <mat-label>نام</mat-label>
            <input  matInput value="{{data.name}}" name="fname"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>نام کاربری</mat-label>
            <input  matInput value="{{data.username}}" name="username"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>ایمیل</mat-label>
            <input  matInput value="{{data.email}}" name="email">
         </mat-form-field>
  </form>
</mat-card-content>
<div mat-dialog-actions>
      <button mat-button cdkFocusInitial>ذخیره</button>
      <button mat-button (click)="onNoClick()">انصراف</button>
   </div>